// mixin

@mixin Icon {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  @include center;
}

// nav bar
.nav {
  width: 100vw;
  height: 56px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100px;
  }
}

// 1st part
.logos_1 {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 255px;
  z-index: 10;

  i {
    @include Icon;
  }

  i:hover {
    background-color: $hover;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 18px 14px;

    img {
      width: 40px;
      padding-right: 8px;
    }

    h4 {
      color: #fff;
      font-weight: 100px;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
}

// 2nd part
.input-box {
  width: 600px;
  height: 38px;
  border-radius: 40px;
  background-color: #121212;
  border: 1px solid $border;
  color: $textcolor;
  padding: 0 0 0 16px;
  @include centerAlign;

  input {
    background-color: inherit;
    font-size: 18px;
    border: none;
    padding: 0 10px 0 0;
    color: $textcolor;
    width: 90%;
    height: 26px;
  }

  input:focus {
    outline: none;
  }

  i {
    background-color: $hover;
    width: 70px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 38px;
    cursor: pointer;
    @include center;
  }
}

// 3rd part
.logos_2 {
  width: 255px;
  @include center;

  a {
    text-decoration: none;
  }

  i {
    @include Icon;
  }

  i:hover {
    background-color: $hover;
  }
}

// noti box
.noti {
  background-color: $hover;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  color: #a0a0a0;
  position: absolute;
  right: 60px;
  z-index: 9;

  .box {
    @include center;
    flex-direction: column;
    padding: 20px;

    i {
      font-size: 100px;
      margin: 30px 0;
    }

    h3 {
      font-weight: 300;
      color: #fff;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  h4 {
    text-align: left;
    border-bottom: 1px solid #717171;
    padding: 14px;
    color: #fff;
    font-weight: 100;
  }
}

// responsive

@media all and (max-width: 1200px) {
  .input-box {
    width: 500px;
  }

  .logos_2 {
    width: 155px;
  }
}

@media all and (max-width: 900px) {
  .input-box {
    width: 400px;
  }

  .logos_1 {
    width: 155px;

    h4 {
      display: none;
    }
  }
}

@media all and (max-width: 700px) {
  .input-box {
    width: 300px;

    i {
      cursor: default;
    }
  }

  .logos_1 {
    width: 100px;

    i {
      cursor: default;
    }

    a {
      padding: 0;
      cursor: default;

      img {
        width: 30px;
        padding-right: 0;
      }
    }

    i {
      margin-right: 5px;
    }
  }

  .logos_2 {
    width: 120px;

    i {
      margin-right: 5px;
      cursor: default;
    }
  }

  .noti {
    right: 30px;
  }
}

@media all and (max-width: 450px) {
  .nav {
    height: 90px;
    align-items: flex-start;
    padding: 5px 0;
  }

  .logos_1 {
    width: 155px;
    img {
      margin-left: 10px;
    }
  }

  .input-box {
    width: 90vw;
    margin: 10px 20px;
    margin-top: 40px;
    position: absolute;
  }

  .noti {
    right: 20px;
    width: 300px;
  }
}
