* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: $bgcolor;
}

.main {
  display: flex;
}

.content {
  border: olive solid 1px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}
