* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $bgcolor;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
  background-color: $bgcolor;
}

.main {
  display: flex;
}

.content {
  border: olive solid 1px;
  display: none;
}
